.container {
  max-width: 1600px;
  margin: 2rem auto;
  padding: 1rem;
}

.channel-names {
  font-size: 0.8rem;
  color: var(--surface-600);
  font-style: italic;
  display: block;
  max-width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.error-details {
  font-size: 0.8rem;
}